<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <table>
        <tr>
            <td>first name</td>
            <td>{{firstname}}</td>

        </tr>
        <tr>
            <td>last name</td>
            <td>{{lastname}}</td>

        </tr>
        <tr>
            <td>age</td>
            <td>{{age}}</td>

        </tr>
        <tr *ngIf='ShowDetails'>
            <td>gender</td>
            <td>{{gender}}</td>

        </tr>
    </table>


    <button (click)="onClick()" class='Colorw'>my button</button>
    NAME:  <input [(ngModel)]='name' />

    you have entered {{name}}
           <table>
               <thead>
                   <tr>
                       <th>employee id</th>
                       <th>employee name</th>
                       <th>index</th>
                       <th>index</th>
                       <th>isfirst</th>
                       <th>islast</th>
                   </tr>
               </thead>
               <tbody>
                   <tr *ngFor="let employee of Employees;trackBy:trackbyempcode;let i=index;let isFirst=first;let isLast=last">
                       <td>{{employee.id}}</td>
                       <td>{{employee.name}}</td>
                       <td>{{i}}</td>
                       <td>{{isFirst}}</td>
                       <td>{{isLast}}</td>
                   </tr>
                   <tr *ngIf="!Employees || Employees.length==0">
                       <td>No data found</td>
                   </tr>
               </tbody>
           </table>
    <button (click)="Getemployees()" class='Colorw'>Get emp</button>
</body>
</html>